{%extends 'dashboard/base.html'%}
{%load static%}
{%load crispy_forms_tags%}
{%block title%}Ad detail{%endblock%}

{%block content%}
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
     <div class="site-mobile-menu-body"></div>
    </div>
    
   {%include 'dashboard/header.html'%}
  
    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url({%static 'images/hero_2.jpg'%});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
            
            
            <div class="row justify-content-center mt-5">
              <div class="col-md-8 text-center">
                <h1>{{ad.title}}</h1>
                <p class="mb-0">{{ad.address}}</p>
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>  

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            
            <div class="mb-4" style="margin-top: -150px;">
              <div class="slide-one-item home-slider owl-carousel">
                <div><img src="{{ad.image.url}}" alt="Image" class="img-fluid rounded"></div>
              </div>
            </div>
            
            <h2 class="h3 mb-4 text-black">Description</h2>
            {{ad.description}}

            <p class="mt-3"><a href="#" class="btn btn-primary">Get In Touch</a></p>

          </div>
          <div class="col-lg-3 ml-auto">

            <div class="mb-5">
              <h3 class="h5 text-black mb-3">Filters</h3>
              <form action="#" method="post">
                <div class="form-group">
                  <input type="text" placeholder="What are you looking for?" class="form-control">
                </div>
                <div class="form-group">
                  <div class="select-wrap">
                      <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                      <select class="form-control" name="" id="">
                        <option value="">All Categories</option>
                        <option value="" selected="">Real Estate</option>
                        <option value="">Books &amp;  Magazines</option>
                        <option value="">Furniture</option>
                        <option value="">Electronics</option>
                        <option value="">Cars &amp; Vehicles</option>
                        <option value="">Others</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                  <!-- select-wrap, .wrap-icon -->
                  <div class="wrap-icon">
                    <span class="icon icon-room"></span>
                    <input type="text" placeholder="Location" class="form-control">
                  </div>
                </div>
              </form>
            </div>
         
<!-- 
            <div class="mb-5">
              <h3 class="h6 mb-3">More Info</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti voluptatem placeat facilis, reprehenderit eius officiis.</p>
            </div> -->

          </div>

        </div>
        <hr>
        <div class="pt-5">

              <h3 class="mb-5">{{no_of_comments}} {%if no_of_comments == 1 %} Review {%else%} Reviews {%endif%}</h3>
              <ul class="comment-list">
                {%for comment in comments%}
                <li class="comment">
                  <div class="vcard">
                    <img src="{%static 'images/default.jpg'%}" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3>{{comment.user|capfirst}}</h3> 
                    {%if user == comment.user %}
                    <a href="">edit</a> | <a href="">delete</a>
                    {%endif%}
                    <div class="meta">{{comment.timestamp}}</div>
                    <p>{{comment.comment}}</p>
                    {%if comment.rating == "0" %}
                        <span class="icon-star text-secondary"></span>
                        <span class="icon-star text-secondary"></span>
                        <span class="icon-star text-secondary"></span>
                        <span class="icon-star text-secondary"></span>
                        <span class="icon-star text-secondary"></span>
                    {%elif comment.rating == "1" %}
                        <span class="icon-star text-warning"></span>
                        <span class="icon-star text-secondary"></span>
                        <span class="icon-star text-secondary"></span>
                        <span class="icon-star text-secondary"></span>
                        <span class="icon-star text-secondary"></span>
                    {%elif comment.rating == "2" %}
                        <span class="icon-star text-warning"></span>
                        <span class="icon-star text-warning"></span>
                        <span class="icon-star text-secondary"></span>
                        <span class="icon-star text-secondary"></span>
                        <span class="icon-star text-secondary"></span>
                    {%elif comment.rating == "3" %}
                        <span class="icon-star text-warning"></span>
                        <span class="icon-star text-warning"></span>
                        <span class="icon-star text-warning"></span>
                        <span class="icon-star text-secondary"></span>
                        <span class="icon-star text-secondary"></span>
                    {%elif comment.rating == "4" %}
                        <span class="icon-star text-warning"></span>
                        <span class="icon-star text-warning"></span>
                        <span class="icon-star text-warning"></span>
                        <span class="icon-star text-warning"></span>
                        <span class="icon-star text-secondary"></span>
                    {%elif comment.rating == "5" %}
                        <span class="icon-star text-warning"></span>
                        <span class="icon-star text-warning"></span>
                        <span class="icon-star text-warning"></span>
                        <span class="icon-star text-warning"></span>
                        <span class="icon-star text-warning"></span>
                    {%endif%}
                  </div>
                </li>
                {%endfor%}
              </ul>
              <!-- END comment-list -->
              

              <div class="comment-form-wrap pt-5">
                {%if user.is_authenticated%}
                {% if user != ad.user %}
                <h3 class="mb-5">Leave a Review</h3>
                <form action="#" class="p-5 bg-light" method="POST">
                  {%csrf_token%}
                  <div class="form-group">
              <!--       <label for="message">Review</label>
                    <textarea name="review" id="message" cols="30" rows="10" class="form-control"></textarea>
                    <label for="message">Rating</label><br>
                        <select class="form-control rounded" name="" id="">
                          <option value="0">0</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select> -->
                    {{form|crispy}}
                   </div>


                  <div class="form-group">
                    <input type="submit" value="Post Comment" class="btn btn-primary">
                  </div>

                </form>
                {%endif%}
                {%endif%}
              </div>
              
        </div>

      </div>

    </div>

   
  
  


   
    
    {%include 'dashboard/footer.html'%}
  </div>

  {%endblock%}