{%load static%}
 <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-4">
                <h2 class="footer-heading mb-4">About</h2>
                <p>We help you connect with every other foreign companies based in China. Our vision is to make life easier for all the foreigners in China thus enabling a brighter future.</p>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
              <div class="col-md-1">
              </div>
              <div class="col-md-3" style="text-align: center;">
                <h2 class="footer-heading mb-4">Navigations</h2>
                <ul class="list-unstyled">
                  <li><a href="{%url 'dashboard:ads'%}">Ads</a></li>
                  <li><a href="{%url 'blog:bloghome'%}">Blog</a></li>
                  <li><a href="{%url 'about'%}">About</a></li>
                  <li><a href="{%url 'contact'%}">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-4" style="text-align: center;">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <img src="{%static 'images/qr.png'%}" width="50%">
              </div>
            </div>
          </div>
          <div class="col-md-1">
          </div>
        </div>
        
  
      </div>

    </footer>
 
  